 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


 @media only screen and (max-width: 780px) 
 {
    .signup-img
    {
        display: none;
    }

    .form-container
    {
        width: 100dvw !important; 
        border-radius: 0px !important;
        flex-direction: column;
    }

    .mobile-signup-img
    {
        display: block !important;
    }
 }


.attribution 
{ 
    font-size: 11px; text-align: center; 
}

.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}

.email-submit.active
{
    background-color: hsl(4, 100%, 67%);
    box-shadow: -1px 16px 30px -9px rgba(255,98,87,0.52);
}

body
{
    background-color: hsl(235, 18%, 26%);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0px;
    
}

.dismiss-button
{
    background-color: hsl(234, 29%, 20%);
    color: white;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}

.mobile-signup-img
{
    display: none;
}

.text-container
{
    text-align: start;
    margin: 55px;
}

.success-text-container
{
    text-align: start;
    padding: 40px;
    margin: 0
}

.center-contents
{
    display: flex;
    justify-content: center;
}

.form-container
{
    max-width: 55rem;
    margin: 50px;
    background-color: white;
    border-radius: 20px;
    display: flex;
}

#success-container
{
    display: none;
    background-color: white;
    flex-direction: column;
    border-radius: 15px;

    
}

#success-text
{
    font-size: 1.2rem;
    line-height: 1.5;
}

.success-icon
{
    float: left;
    margin-right: 15px;
}

.success-icon-large
{
    width: 90px;
}



h1
{
    font-size: 3rem;
}

h4
{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px ;
    display: inline;
    margin-right: auto;
    
}

.signup-img
{
   margin: 25px;
   align-items: center;
}

.email-submit
{
    background-color: hsl(235, 18%, 26%);
    color: white;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 0px;

    
}

.email-submit:active
{
    background-color: hsl(4, 100%, 67%);
    box-shadow: -1px 16px 30px -9px rgba(255,98,87,0.52);
}

.email-input
{
    box-sizing: border-box;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.email-error-message
{
    color: hsl(4, 100%, 67%);
    display: inline;
    float: right;
    margin: 0;
    display: none;
}

input
{
    padding: 10px;
}

