 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.attribution 
{ 
    font-size: 11px; text-align: center; 
}

.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}

body
{
    background-color: hsl(235, 18%, 26%);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    font-weight: 400;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box
    
}

.text-container
{
    text-align: start;
    margin: 50px;
}

.form-container
{
    

    background-color: white;
    
    border-radius: 20px;

    display: flex;
}

div
{
    margin: 5px;
}

h1
{
    font-size: 4rem;
}

h4
{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px ;
    display: inline;
    margin-right: auto;
    
}

.signup-img
{
   padding : 10px
}

.email-submit
{
    background-color: hsl(235, 18%, 26%);
    color: white;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 0px;

    
}

.email-submit:active
{
    background-color: hsl(4, 100%, 67%);
    box-shadow: -1px 16px 30px -9px rgba(255,98,87,0.52);
}

.email-input
{
    box-sizing: border-box;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.email-error-message
{
    color: hsl(4, 100%, 67%);
    display: inline;
    float: right;
    margin: 0;
    display: none;
}

input
{
    padding: 10px;
}

